.form__header{
  font-size: 1.8em;
  margin-bottom: 30px;
}

.form__section{
  margin-bottom: 10px;
  & .form__section-item{
    font-size: 1em;
  }
  & .form__section-label{
    font-weight: 700;
    margin-bottom: 4px;
  }
  & .form__section-label__text {
    font-size: .95em;
    margin-left: 5px;
  }
  & .form__section-signup {
    width: 100%;
    color: #fff;
    background: linear-gradient(270deg, rgb(31, 199, 152), rgb(22, 158, 122));
  }
}